<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentence Challenge</title>
</head>

<body>
    <header>
        <h1>Sentence Challenge: Detail</h1>
    </header>

    <div id="sentence">
        <p id="sentence-text">Loading...</p>
        <p>
            <span id="category-label">Category:</span>
            <span id="sentence-category"></span>
        </p>
    </div>
    <div id="detail-error" style="display:hidden"></div>
</body>

<script src="./js/detail.js"></script>

</html>