#search-filter {
    border: 1px solid black;
    width: 50%;

    margin: 0 auto;
    padding: 20px;
    padding-top: 10px;
}

#per-page-input{
    max-width: 80px;
}

#page-input {
    max-width: 80px;
}

label {
    font-weight: bold;
}

#sentence-table {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#search {
    margin-right: 10px;
}